.mb-10 
{
  margin-bottom: 10rem;
}

.mb-5 
{
  margin-bottom: 5rem;
}

.w-50-percentage
{
  width: 50%;
}

.w-70-percentage
{
  width: 70%;
}

.w-80-percentage
{
  width: 80%;
}

.w-100-percentage
{
  width: 100%;
}